fieldset {
	width: auto;
	height: 550px;
	padding: 10px;
	margin: auto auto auto auto;
}

table {
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	position: relative;
	margin: auto auto;
	text-align: center;
}

td, tr {
	padding: 0px 10px;
}

h2 {
	text-align: center;
	margin: 10px 0px;
}


body {
	font-family: arial;
	font-size: 10pt;
}

